
body{
	#background {
	width: 100%;
	min-height: 50px;
	margin: auto;
	border: none;

	background-image: url("/Prosthetic_Customization_Game/images/schoolhallway.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
  font-family: 'Ubuntu', sans-serif;
}



img {
	position: static;
	margin-left: 15%;
display:inline-block;
  height:100%;
}


button{
  margin-top:20%;
}

ul{
	list-style-type: none;
	display:inline-block;
}

character{
z-index: -1000;  
}

.shirt{
	visibility:hidden;
  z-index: 2;
}

.pant{
	visibility:hidden;
  z-index: 1;
	}















