
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("/Prosthetic_Customization_Game/images/schoolhallway.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
	
}

.container {
      width: 100vw;
      height: 100vh;
      margin: 0 auto;
  position: relative; /* Set the container to a relative position */
}

.character, .shirt, .pant {
  	max-width: 100%;
	max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Move the image back by half of its width and height */
  height: auto;
  width: auto;
}


button {
  --border: 8px;    /* the border width */
  --color: #f6b26b;
  font-size: 35px;
  padding: 0.25em 1.2em;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  box-shadow: 
    0 0 0 200px inset var(--c,#0000),
    0 0 0 var(--border) inset var(--color);
  background: linear-gradient(var(--color) 0 0) bottom/100% 0% no-repeat;
  transition: color var(--t,0.3s), background-size 0.3s;
  position: relative;
}
button:before, button:after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  clip-path: polygon(0 0,100% 0,calc(100% + 200vmax) 200vmax,200vmax calc(100% + 200vmax),0 100%);
  box-shadow: 0 0 0 200vmax var(--color);
  filter: brightness(1.1);
}
button:after {
  inset: 0 0 0 auto;
  filter: brightness(0.9);
}
button:hover, button:active{
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
button:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000a;
}
button:active {
  --c: #0005;
  transform: translate(4px,4px);
  transition: none;
}
.button-container {
  display:grid;
  grid-auto-flow:column;
  grid-gap:80px;
  place-content:end;
  margin:0;
  height:100vh;
}
.button-arm {
	--color: #f6b26b; /* the color */
	top: 90vh;
	left: 90vw;
}

.button-leg {
	--color: #93c47d; /* the color */
	top: 90vh;
	left: 70vw;
}

ul{
	list-style-type: none;
	display:inline-block;
}

character{
z-index: 0;  
}

.shirt{
	visibility:hidden;
  z-index: 2;
}

.pant{
	visibility:hidden;
  z-index: 1;
	}















