
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url("/Prosthetic_Customization_Game/images/schoolhallway.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
	
}

.container {
  position: relative; /* Set the container to a relative position */
}

img {
  position: absolute;
  top: 50hv;
  left: 50hv;
  transform: translate(-50%, -50%); /* Move the image back by half of its width and height */
  height: 75hv; /* Adjust the height as needed */
}


button{
  margin-top:20hv;
}

ul{
	list-style-type: none;
	display:inline-block;
}

character{
z-index: 0;  
}

.shirt{
	visibility:hidden;
  z-index: 2;
}

.pant{
	visibility:hidden;
  z-index: 1;
	}















